@import '../core/variables.scss';

.haikuMain {
    margin: 15px 0;
    border: solid 40px $dark-pink;
    height: 80vh;
    max-width: 50vw;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cream;
    @media all and (max-width: 768px) {
        border: solid 20px $dark-pink;
        min-width: 220px;
    }

    &__button {
        width: 150px;
        font-size: 12px;
        border-radius: 10px;
        background-color: $blue-green;
        color: white;
        font-weight: bolder;
        border: solid 1px $light-green;
        padding: 10px 0 10px 0;
        cursor: url('/src/images/cursor.png'), auto;
    }

    &__textContainer {
        height: 50vh;
        font-family: $font-text;
        font-size: 23px;
        padding-top: 30px;
        @media all and (max-width: 768px) {
            font-size: 20px;
            text-align: center;
        }
    }
}