@import '../core/variables.scss';
.asideHaikus {
    width: 30vh;
    margin: 15px 0;

    &__mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        font-family:"Stylish", serif;
        transform: translateY(10px);

        

        &--image{
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 100%;
            }
        }
        }

        &__mainContainer--image.rotated {
            transform: rotate(180deg); 
          }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: $font-text;
        font-size: 11px;
        background-color: rgb(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 0 0 10px 10px;
        padding-top: 20px;
    }
    }