@import '../core/variables.scss';

.musicPlayer {
    margin: 15px 0;
    display: block;

    &__container {
        border-radius: 50%;
        background-color: $blue-green;
        height: 90px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &--icon {
            width: 30px;

            & img {
                width: 100%;

            }
        }
    }

    @media all and (max-width: 768px) {
        display: none;
    }
}

.rotation {
    animation: rotar 5s linear infinite;
}
@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

